.MainDiv{
width:100%;
/* height:100vh; */
background-color: white;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
  /* background-image:linear-gradient(to right, #f12711, #b68c32);; */
}
.CenterDiv{
    width: 80%;
    margin: 20vh;
    border: 1px solid rgb(68, 68, 69);
    /* color: white; */
    /* background-color:coral; */
    /* background-image:linear-gradient(245deg, rgb(188, 188, 198) 0%, rgb(190, 150, 228) 47%, rgba(38,51,212,1) 100%); */
    box-shadow: 2px 5px 40px 2px rgb(41, 36, 36);
    /* background-image:linear-gradient(to right, #f12711, #b68c32);; */
}
.Divs{
    width: 100%;
    height: 100%;
    /* background-color:black; */
    display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
align-items: center;
}
.EnterValue{
    /* width:400px;
    height:400px; */
    min-height: 300px;
    margin-right: 10px;
    display: flex;
    flex:1;
    color: white;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: 10px;
}
.GetValue{
    min-height: 300px;
    /* width:400px;
    height: 400px; */
    /* background-color: rgb(171, 171, 171); */
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: 10px;
   
}

.ValueSize{
    /* height: 400px; */
    border: 1px solid black;
    display: flex;
    flex: 1;
    box-shadow: 1px 2px 10px black;
    background-color: white;
    margin: 10px;
    border-radius: 5px;

}


.SignValue{
    width:100px;
    /* background-color: rgb(171, 171, 171); */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background-color: white; */

}

.forMain{
    display: flex;
    /* color:white; */
    flex:1;
    
    align-items: center;
    /* margin: 40px 10px 20px 10px; */
    flex-flow: row wrap;
    justify-content: center;
}